.modal-window {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.modal-title-format{
    margin: 0 20px;
    border: 2px solid transparent;
}

.modal-title-format:hover {
    border: 2px solid #ccc;
}

.modal-content{
    width: 600px;
    background-color: white;
    border-radius: 5px;
}

.modal-header{
    text-align: right;
    margin: 6px;
    font-size: 16px;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.modal-footer{
    margin: 6px;
    text-align: right;
}

.save-modal-button{
    background-color: #2daadb;
    border-radius: 5px;
    color: white;
    font-size:medium;
    padding: 5px;
}

.subsection-pairs {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40%;
    font-size: 14px;
}

.modal-notes{
    margin: 0px 20px;
    gap: 40%;
}

.modal-labels{
    display: block;
    margin: 0px;
}

.subsection-pairs > div > div{
    margin-bottom: 10px;
}

.modal-label{
    display: block;
    font-size: medium;
    font-weight: bold;
    color: rgb(142, 142, 142);
}
.modal-note-area{
    width: 100%;
    height: 150px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.closemodal-button{
    background-color: transparent;
    border: transparent;
    color: grey;
    font-size: large;
}

.closemodal-button:hover{
    color: black;
}

.modal-dropbtn {
    min-width: 160px;
    max-height: 25px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 14px;
    cursor: pointer;
    border-color: grey;
    border-width: thin;
}

/*DatePicker Styling and changes*/
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
    margin: 0 !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
    width: 1.9em !important;
    line-height: 1.9em !important;
    margin: 0.166em !important;
}

.react-datepicker__day-names,
.react-datepicker__current-month,
.react-datepicker__month-container{
    margin: 0 !important;
}

.react-datepicker__day--outside-month {
    color: transparent !important;
    pointer-events: none;
}
