/* The container for the list of TODOS */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
}

/* Create a custom checkbox */
.checkmark {
  margin-left: 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #eee;
}

.bluecheckmark {
  margin-left: 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #2196F3;
}

.checkmarkinprogress {
  margin-left: 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: linear-gradient(-180deg, #eee 50%, #2196F3 50%)
}

.checkmarkafter {
  margin-left: 3px;
  position: absolute;
  left: 8px;
  top: 4px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.header{
  align-items: center;
  background-color: #41ced8;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  font-size: 20px;
  padding-left: 10px;
}

.todo-list-container{
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  width: 25%;
}

.widget-content{
  padding-left: 2px;
  padding-top: 5px;
  border: 1px solid grey;
  border-top: 0;
}

.todo-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  border-radius: 10px;
}

.todo-item:hover {
  background-color: rgb(221, 221, 221);
}

.edit-todo{
  margin-left: auto;
  border: transparent;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
  align-items: center;
}